* {
  font-family: "Noto Sans KR", sans-serif;
}
.title {
  background-color: antiquewhite;
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 2vw;
  border: 3px solid gold;
  border-radius: 20px;
}

.container1 {
  background-color: rgb(141, 245, 131);
  text-align: center;
  width: 80%;
  height: 50vh;
  margin: auto;
  font-size: 2vw;
  border-radius: 5px 20px 5px 20px;
}

.container2 {
  @extend .container1;
  background-color: rgb(76, 218, 218);
}
.container3 {
  @extend .container1;
  background-color: rgb(245, 245, 129);
}
.container4 {
  @extend .container1;
  background-color: rgb(223, 156, 156);
}
.container5 {
  @extend .container1;
  background-color: rgb(185, 184, 226);
}
.container6 {
  @extend .container1;
  background-color: rgb(184, 241, 206);
}
.container7 {
  @extend .container1;
  background-color: rgb(246, 180, 252);
}
.container8 {
  @extend .container1;
  background-color: rgb(161, 224, 221);
}

.red {
  color: red;
  font-weight: bold;
}

.center {
  text-align: center;
}
